<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HospitalManagement</display-name>
  <welcome-file-list>
    <welcome-file>homePage.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet for Registration -->
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Login -->
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Appointment -->
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Admin Login -->
  <servlet>
    <description></description>
    <display-name>adminLoginServlet</display-name>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Listing Patients -->
  <servlet>
    <description></description>
    <display-name>ListPatientsServlet</display-name>
    <servlet-name>ListPatientsServlet</servlet-name>
    <servlet-class>ListPatientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPatientsServlet</servlet-name>
    <url-pattern>/ListPatientsServlet</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Listing Appointments -->
  <servlet>
    <description></description>
    <display-name>ListAppointmentsServlet</display-name>
    <servlet-name>ListAppointmentsServlet</servlet-name>
    <servlet-class>ListAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAppointmentsServlet</servlet-name>
    <url-pattern>/ListAppointmentsServlet</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Lab Test -->
  <servlet>
    <description></description>
    <display-name>LabTestServlet</display-name>
    <servlet-name>LabTestServlet</servlet-name>
    <servlet-class>LabTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabTestServlet</servlet-name>
    <url-pattern>/LabTestServlet</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Booking -->
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Viewing Bookings -->
  <servlet>
    <description></description>
    <display-name>ViewBookingsServlet</display-name>
    <servlet-name>ViewBookingsServlet</servlet-name>
    <servlet-class>ViewBookingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookingsServlet</servlet-name>
    <url-pattern>/viewBookings</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Doctor Login -->
  <servlet>
    <description></description>
    <display-name>DoctorLoginServlet</display-name>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <servlet-class>DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <!-- Servlet for Listing Doctors -->
  <servlet>
    <description></description>
    <display-name>ListDoctorsServlet</display-name>
    <servlet-name>ListDoctorsServlet</servlet-name>
    <servlet-class>ListDoctorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDoctorsServlet</servlet-name>
    <url-pattern>/ListDoctorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPatientServlet</servlet-name>
    <servlet-class>AddPatientServlet</servlet-class>
    </servlet>
   <servlet-mapping>
     <servlet-name>AddPatientServlet</servlet-name>
     <url-pattern>/AddPatientServlet</url-pattern>
   </servlet-mapping>

    <!-- Servlet for Updating a Patient -->
    <servlet>
        <servlet-name>EditPatientServlet</servlet-name>
        <servlet-class>EditPatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPatientServlet</servlet-name>
        <url-pattern>/EditPatientServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Deleting a Patient -->
    <servlet>
        <servlet-name>DeletePatientServlet</servlet-name>
        <servlet-class>DeletePatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePatientServlet</servlet-name>
        <url-pattern>/DeletePatientServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Adding an Appointment -->
    <servlet>
        <servlet-name>AddAppointmentServlet</servlet-name>
        <servlet-class>AddAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAppointmentServlet</servlet-name>
        <url-pattern>/AddAppointmentServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Updating an Appointment -->
    <servlet>
        <servlet-name>UpdateAppointmentsServlet</servlet-name>
        <servlet-class>UpdateAppointmentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAppointmentsServlet</servlet-name>
        <url-pattern>/UpdateAppointmentsServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Deleting an Appointment -->
    <servlet>
        <servlet-name>DeleteAppointmentServlet</servlet-name>
        <servlet-class>DeleteAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAppointmentServlet</servlet-name>
        <url-pattern>/DeleteAppointmentServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FetchDoctorsServlet</servlet-name>
        <servlet-class>FetchDoctorsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchDoctorsServlet</servlet-name>
        <url-pattern>/FetchDoctorsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>docDeleteAppointmentServlet</servlet-name>
        <servlet-class>docDeleteAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>docDeleteAppointmentServlet</servlet-name>
        <url-pattern>/docDeleteAppointmentServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>docUpdateAppointmentsServlet</servlet-name>
        <servlet-class>docUpdateAppointmentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>docUpdateAppointmentsServlet</servlet-name>
        <url-pattern>/docUpdateAppointmentsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>docFetchDoctorsServlet</servlet-name>
        <servlet-class>docFetchDoctorsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>docFetchDoctorsServlet</servlet-name>
        <url-pattern>/docFetchDoctorsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>docAddDoctorsServlet</servlet-name>
        <servlet-class>docAddDoctorsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>docAddDoctorsServlet</servlet-name>
        <url-pattern>/docAddDoctorsServlet</url-pattern>
    </servlet-mapping>    
    
        <servlet>
        <servlet-name>UpdatePatientServlet</servlet-name>
        <servlet-class>UpdatePatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePatientServlet</servlet-name>
        <url-pattern>/UpdatePatientServlet</url-pattern>
    </servlet-mapping>   
</web-app>
